* {
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito';
}

h1 {
  text-align: center;
  font-size: 60px;
  width: 40%;
  color: rgb(13, 2, 39);
  opacity: 0.8;
  margin: 20px auto;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 212, 212, 0.9)), url('../images/background7.jpg');
  background-size:contain;
}

#view-button {
  position: relative;
  width: 280px;
  height: 50px;
  font-size: 24px;
  border: none;
  display: block;
  background-color: #6df0c2;
  margin: 20px auto;
  cursor: pointer;
  font-family: 'Nunito';
  border-radius: 12px;
}

#view-button :hover {
  margin-top: 5px;
  color: black;
  box-shadow: 0px 0px;
}

.message{ 
display: flex;
justify-content: center;
align-items:flex-start;
height: 400px;
width:60%;
margin: 40px auto;


}

 #codey {
  display: none;
  height: 300px;

 
}

#text {
  display: none;
  font-size: 24px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px;
  font-family: 'Nunito';
  
}



@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
 

}

